.App {
  text-align: center;
  display: flex;
  width: 90%;
  height: 100vh;
  margin: auto;
  
}

body{
  background-color: #2C394B;
}

.input-container  {
  padding: 10px;
  text-align: left;

}

h1{
  text-align: start;
  padding-left: 10px;
}

form {
  width: 419px;
  height: 531px;
  border-radius: 10px;
  background: #D1D1D1;
  top: auto;
  margin-top: 35px;
  margin-left: 70px;
  box-shadow: 12px 10px 12px rgb(0, 0, .3);
  
}
 input {
   border: none;
   align-items:flex-end;
   border-radius: 8px;
   width: 355px;
   height: 30px;
   
 }

ul li {
  width: 381px;
  height: 174px;
  left: 101px;
  display: inline-block;
  background: #DDDDDD;
  box-sizing: border-box;
  border-radius: 8px;
  margin: 20px;
  box-shadow: 12px 10px 12px rgb(0, 0, .3);
  
}

.submit-button {
  width: 219px;
  height: 25px;
  border-radius: 10px;
  border: none;
  margin: 10px;
  background-color: #2C394B ;
  color: #D1D1D1;
}

.cancel-button {
  width: 219px;
  height: 25px;
  border-radius: 10px;
  border: none;
  background-color: #D82148;
  color: #D1D1D1;
}

.edit{
  width: 119px;
  height: 25px;
  border-radius: 10px;
  border: none;
  margin: 10px;
  background-color: #2C394B ;
  color: #D1D1D1;
  
  
}

.delete{
  width: 119px;
  height: 25px;
  border-radius: 10px;
  border: none;
  background-color: #D82148;
  color: #D1D1D1;
  
}